*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
:root {
    --yellow-primary-color: #fff226;
    --yellow-secondary-color: #f2e400;
    --yellow-tertiary-color: #b8ad00;
    --grey-color: #CCCCCC;
    --gray-small: #F0F0F0;
    --verylarge-fontsize: 3rem;
    --large-fontsize: 2.3rem;
    --medium-fontsize: 2rem;
    --small-fontsize: 1.5rem;
    --verysmall-fontsize: 0.8rem;
    --semismall-fontsize: 1 rem;
}

